.footerBox {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 64px;
    gap: 80px;

    background: #02161D;
    color: #FFFFFF;


    flex: none;
    order: 8;
    flex-grow: 0;
}

.siteContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 128px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.siteNewsletter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.siteMasthead {

    flex: none;
    order: 0;
    flex-grow: 0;
}

.siteSubscribe {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    color: #FFFFFF;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.siteEmailBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.siteEmailForm {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.siteEmailInput {

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;

    background: #FFFFFF;
    border: 1px solid #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.siteEmailPlaceholder {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    color: #505050;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.siteSubscribeButton {

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;

    border: 1px solid #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.siteSubscribeText {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.siteSubscribePolicy {

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */

    color: #FFFFFF;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.siteTree {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    flex: none;
    order: 1;
    flex-grow: 1;
}

.siteResourcesCol {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.siteAboutCol {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    flex: none;
    order: 1;
    flex-grow: 1;
}

.siteOpportunitiesCol {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    flex: none;
    order: 2;
    flex-grow: 1;
}

.siteMediaChipsCol {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    flex: none;
    order: 3;
    flex-grow: 1;
}

.siteLinksTitle {

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    color: #FFFFFF;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.siteLinksList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.siteLink {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.siteLinkText {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    vertical-align: middle;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.siteCredits {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.divider {

    height: 1px;

    background: #FFFFFF;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.licensesBox {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width:50%;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.scio {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.license {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.copyrightBox {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}

.copyright {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.footerLinkBox {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.privacy {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    text-decoration-line: underline;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;

}

.terms {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    text-decoration-line: underline;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.cookies {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    text-decoration-line: underline;

    color: #FFFFFF;

    flex: none;
    order: 2;
    flex-grow: 0;
}