.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 64px;
    
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #000000;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 32px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.RSP {

    font-family: 'Baskervville';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    
    /* identical to box height, or 48px */

    color: #02161D;

    flex: none;
    order: 0;
    flex-grow: 0;

}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;

    background: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.navlinks {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    flex: none;
    order: 0;
    flex-grow: 0;

}

#resources {
    

    flex: none;
    order: 0;
    flex-grow: 0;
}

#contributors {
    width: 89px;
    height: 24px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

#opportunities {
    width: 97px;
    height: 24px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

#about {
    width: 43px;
    height: 24px;

    flex: none;
    order: 3;
    flex-grow: 0;
}

.darkSupportButton {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 18px 8px 20px;
    gap: 8px;
    
    background: #02161D;

    border: 1px solid #02161D;

    width: 155px;
    height: 40px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

 a.darkSupportRSP {
    height: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.supportButton {

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 18px 8px 20px;
    gap: 8px;

    border: 1px solid #02161D;

    width: 155px;
    height: 40px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.supportRSP {
    
    height: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    color: #02161D;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 4px;

    flex: none;
    order: 2;
    flex-grow: 0;
}


.dropdown {
    position: relative;
    display: inline-block;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 8px 8px 8px 8px;
    background-color: #f9f9f9;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-link:hover {
    font-weight: bolder;
}

.resources-chevron-wrapper {
    width: 24px;
    height: 24px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;   
}

.resources-chevron {
    display: inline-block;
    position: relative;
    top: -75%;
    left: 350%;
    /* right: -100%; */
    transform: rotate(90deg);
    
}