.podcastCard {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 64px 40px;
    gap: 80px;

    background: #FFFFFF;


    flex: none;
    order: 0;
    flex-grow: 0;

}

.podcastContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 615px;
    height: 416px;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.podcastHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;


    flex: none;
    order: 0;
    flex-grow: 0;
}

.headerContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.podcastTitle {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    /* or 58px */

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}


.podcastTags {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 0px;
    gap: 8px;

    opacity: 0.85;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.podcastMeta{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.meta{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;

    background: #F4F4F4;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.podcastExcerpt {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    color: #02161D;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.keepReading { 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 0px 0px;
    gap: 24px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.keepLink {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    text-decoration-line: underline;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.podcastMedia {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.mediaContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
   
    flex: none;
    order: 0;
    flex-grow: 0;
}

.featuredMedia {

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    
}

.featuredImage {
    max-width: 500px;
    max-height: 500px;
}

.mediaPlayer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 16px;

    background: #000000;
    color: #FFFFFF;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.mediaLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.mediaLink {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 4px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

